/* Variables */
:root {
    --font-size: 13px;
}

/* Global */
body {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
.header .top_navigation {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.header .top_navigation a {
    color: #fff;
    opacity: 0.6;
    transition: 0.2s;
}

.header .top_navigation a:hover {
    opacity: 1;
}

.header .top_nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .top_nav .nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 25px;
}

.header .top_nav .nav i {
    margin-inline-end: 7px;
}

.header .top_nav .user_menu {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #333;
    padding: 15px;
}